
@{
    ViewBag.Title = "Drama";
}

<h2>Drama</h2>
<br />

<p>
    <h3></h3><br />
</p>
<br />
<p>
    <h3></h3><br />
</p>
<br />
<p>
    <h3></h3><br />
</p>
<br />
<p>
    <h3></h3><br />
</p>
<br />
<p>
    <h3></h3><br />
</p>
<br />
<p>
    <h4><a href="/Contenido/Peliculas">Regresar</a></h4>
</p>