
@{
    ViewBag.Title = "Index";
}

<h2>Contenidos</h2>
<br />

<p>
    <h3><a href="/Contenido/Peliculas">Peliculas</a></h3>
</p>
<br />
<p>
    <h3><a href="/Contenido/Musica">Musica</a></h3>
</p>
<br />
<p>
    <h4><a href="/Contenido/Peliculas">Regresar</a></h4>
</p>