
@{
    ViewBag.Title = "Index";
}

<h2>Contenidos</h2>
<br />

<h3><a href="/Contenido/Noticias">Noticias</a></h3>
<br />

<h3><a href="/Contenido/Peliculas">Peliculas</a></h3>

<br />

<h3><a href="/Contenido/Musica">Musica</a></h3>

<br />

<h4><a href="/Contenido/Peliculas">Regresar</a></h4>
