
@{
    ViewBag.Title = "Musica";
}

<h2>Musica</h2>
<br />

<p>
    <a href="">
        <img src="~/Content/apple music.jpg" width="350" height="300" />
    </a>
</p>
<br />
<p>
    <a href="">
        <img src="~/Content/grooveshark.png" width="350" height="300" />
    </a>
</p>
<br />
<p>
    <a href="">
        <img src="~/Content/Spotify.png" width="350" height="300" />
    </a>
</p>
<br />
<p>
    <a href="">
        <img src="~/Content/deezer.jpg" width="350" height="300" />
    </a>
</p>
<br />
<p>
    <a href="">
        <img src="~/Content/NAPSTER.png" width="350" height="300" />
    </a>
</p>
<br />
