
@{
    ViewBag.Title = "Musica";
}

<h2>Musica</h2>
<br />

<p>
    <a href="https://www.apple.com/la/apple-music/">
        <img src="~/Content/apple music.jpg" width="350" height="300" />
    </a>
</p>
<br />
<p>
    <a href="https://groovesharks.org/">
        <img src="~/Content/grooveshark.png" width="350" height="300" />
    </a>
</p>
<br />
<p>
    <a href="https://www.spotify.com/">
        <img src="~/Content/Spotify.png" width="350" height="300" />
    </a>
</p>
<br />
<p>
    <a href="https://www.deezer.com/es/">
        <img src="~/Content/deezer.jpg" width="350" height="300" />
    </a>
</p>
<br />
<p>
    <a href="https://us.napster.com/">
        <img src="~/Content/NAPSTER.png" width="350" height="300" />
    </a>
</p>
<br />
<p>
    <h4><a href="/Contenido/Peliculas">Regresar</a></h4>
</p>