
@{
    ViewBag.Title = "Peliculas";
}

<h2>Peliculas</h2>

<p>
    <a href="/PelisCategorias/Accion">Accion</a>
</p>
<p>
    <a href="/PelisCategorias/Aventura">Aventura</a>
</p>
<p>
    <a href="/PelisCategorias/Drama">Drama</a>
</p>
<p>
    <a href="/PelisCategorias/Infantil">Infantil</a>
</p>
<p>
    <a href="/PelisCategorias/Documental">Documental</a>
</p>