
@{
    ViewBag.Title = "Opciones";
}

<head>
    <link href="~/CSS/style.css" rel="stylesheet" />
</head>

    <div class="up">
        <a href="#"> <img src="../img/longitud.png" width="200" height="200" /> </a>
        <h3>Longitud</h3>
        <a href="#"><img src="../img/temperatura.png" width="200" height="200" /></a>
        <h3>Temperatura</h3>
    </div>
    <div class="down">
        <a href="#"><img src="../img/negocios.png" width="200" height="200" /></a>
        <h3>Masa</h3>
        <a href="#"><img src="../img/binario.png" width="200" height="200" /></a>
        <h3>Datos</h3>
    </div>