
@{
    ViewBag.Title = "Index";
}

<h2>Nosotros</h2>

<img src="~/img/roxanna.jpeg" />
<h3>Nombre: Roxanna Alburquerque</h3>
<h3>Cedula: 402-1560726-4</h3>
<h3> Edad: 17</h3>
<h3>Matricula: 2018-6170</h3>
<h3>Modulos:</h3>
<h2>Vinculacion con Facebook</h2>
<h2>Conversor de unidades: Longitudes y Masa</h2>
<h2>Lectura de xls</h2>
<h2>Filtro de contenidos: Musica y Peliculas</h2>

<img src="" />
<h3>Nombre: Yohan</h3>
<h3>Cedula:</h3>
<h3>Edad:</h3>
<h3>Matricula:</h3>
<h3>Modulos:</h3>
<h2>Formulario de solicitud de empleo</h2>
<h2>Conversor de unidades: Temperatura y Datos</h2>
<h2>Filtro de contenidos </h2>
<h2>Noticias y Acerca de</h2>

