
@{
    ViewBag.Title = "Index";
}

<h2>Nosotros</h2>

<img src="~/img/roxanna.jpeg" width="200" height="250" />
<h3>Nombre: Roxanna Alburquerque</h3>
<h3>Cedula: 402-1560726-4</h3>
<h3> Edad: 17</h3>
<h3>Matricula: 2018-6170</h3>
<h3>Modulos:</h3>
<h3>1. Formulario de solicitud de empleo</h3>
<h3>2. Conversor de unidades: Temperatura y Datos</h3>
<h3>3. Menú Filtro de contenidos </h3>
<h3>4. Noticias y Acerca de</h3>
<br />

<img src="~/img/yohan.jpeg" width="200" height="250" />
<h3>Nombre: Johan Manuel Uribe De León</h3>
<h3>Cedula: 402-2820157-6</h3>
<h3>Edad: 21</h3>
<h3>Matricula: 2017-4925</h3>
<h3>Modulos:</h3>
<h3>1. Vinculacion con Facebook</h3>
<h3>2. Conversor de unidades: Longitudes y Masa</h3>
<h3>3. Lectura de xls</h3>
<h3>4. Filtro de contenidos: Musica y Peliculas</h3>


